<%= form_for(@car) do |f| %>
  <% if @car.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@car.errors.count, "error") %> prohibited this car from being saved:</h2>

      <ul>
      <% @car.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :mileage %><br>
    <%= f.number_field :mileage %>
  </div>
  <div class="field">
    <%= f.label :color %><br>
    <%= f.text_field :color %>
  </div>
  <div class="field">
    <%= f.label :brand %><br>
    <%= f.text_field :brand %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
      <%= f.label :auction_ending %><br>
      <%= f.text_field :auction_ending, :id=>"auctionEnding" %>
    <script>$(document).ready(function() { $("#auctionEnding").datepicker({ dateFormat: "yy-mm-dd"}); $('#ui-datepicker-div').removeClass('ui-helper-hidden-accessible') })
    </script>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
