<p>
  <strong>Title:</strong>
  <%= @car.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @car.description %>
</p>

<p>
  <strong>Mileage:</strong>
  <%= @car.mileage %>
</p>

<p>
  <strong>Color:</strong>
  <%= @car.color %>
</p>

<p>
  <strong>Brand:</strong>
  <%= @car.brand %>
</p>

<p>
  <strong>User:</strong>
  <%= @car.user_id %>
</p>

<p>
  <strong>Ask price:</strong>
  <%= @car.ask_price %>.--
</p>

<p>
<strong>Bids:</strong>
<table border="1">
  <%= render @car.bids %>
</table>

</p>
<% if Date.today.to_time_in_current_zone < Date.parse(@car.auction_ending) %>
  <h2>Add a bid:</h2>
  <%= render 'bids/form', locals: {car: @car} %>
<% else %>
   <% @win_bid = @car.bids.last
     if @win_bid%><%= @win_bid.user.login %> won on <%= @car.auction_ending %>
   <%else%>
     Nobody bet on this car
   <%end%>
<% end %>

<p>
  <strong>Auction ending:</strong>
  <% if Date.today.to_time_in_current_zone < Date.parse(@car.auction_ending) %>
      <%= @car.auction_ending %>
  <% else %>
      Ended on <%= @car.auction_ending %>
  <% end %>
</p>
<% if  signed_in?   &&   @car.user_id ==current_user     %>
    <%= link_to 'Edit', edit_car_path(@car) %> |
<% end %>

<%= link_to 'Back', cars_path %>