<!DOCTYPE html>
<html>
<head>
  <title>CarTradingClient</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%=javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js" %>
</head>
<body>

<div id="header" style="background-color:#C0C0C0">
  <h1>Car Trading Application</h1>
  <h3>powered by Ruby on Rails - 2013 Arnaud Durand & Mikael Gasparian</h3>



  <% if signed_in? %>
    currently logged as :
      <%= current_user.login %></br><%= link_to 'logout', signout_path %>
  <% else %>
      <%= link_to 'Sign in now!', signin_path %>
  <% end %>





</div>

<% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><%= value %></div>
<% end %>

<%= yield %>

</body>
</html>
